name: build
on: [push, pull_request]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Build
        run: |
          shopt -s globstar && zip -9 -r $GAME **/*.lua assets
          npx love.js $GAME web -c -t "Love Template"
        env:
          GAME: ${{ github.event.repository.name }}.love

      - name: Deploy
        if: github.ref_name == 'master'
        uses: remarkablemark/gitploy-action@v1
        with:
          directory: web
